.sign-in {
    background-color: #12002b;
    height: 80vh;
    padding: 3rem 0;
}

.sign-in .content {
    box-sizing: border-box;
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
}

.sign-in .content h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.sign-in form {
    display: flex;
    flex-direction: column;
}

.sign-in form label {
    font-weight: 700;
}

.sign-in form input {
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.sign-in .remember label {
    font-weight: 400;
    margin-left: .5rem;
}

.sign-in input[type=submit] {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}