/*** Navbar ***/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #fff;
}

nav img {
    width: 200px;
    max-width: 100%;
}

nav .tab_sign-in {
    font-weight: 700;
    text-decoration: none;
    margin-right: .5rem;
}

nav .tab_sign-in:hover {
    text-decoration: underline;
}