footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(204, 204, 204);
    padding: 2rem 0 1.5rem;
    background-color: #fff;
}

footer span {
    text-align: center;
}